<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <h1>Count Page</h1>
    <h2 id="ct"></h2>

    <script>
        var ws = new WebSocket("ws://127.0.0.1:8000/ws/ajwsc/")

        ws.onopen = function () {
            console.log("WebSocket connection open...")
            ws.send(JSON.stringify({"message": "Hii, message from client..."}))
        }

        ws.onmessage = function (event) {
            console.log("WebSocket received from server...", event.data)
            var message = JSON.parse(event.data)
            document.getElementById("ct").innerText = message.message
        }

    </script>
</body>

</html>