<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Group Name : {{group_name}}</h1>


    <textarea id="chat-log" cols="100" rows="20">
        {% for chat in chats %}
        {{chat.content}}
        {% endfor %}
    </textarea><br>
    <input type="text" id="chat-message-input" size="100"><br><br>
    <input type="button" value="Send" id="chat-message-submit">

    {{group_name|json_script:"group-name"}}

    <script>

        const groupName = JSON.parse(document.getElementById("group-name").textContent);

        var ws = new WebSocket("ws://" + window.location.host + "/ws/chat/wsc/" + groupName + "/");


        ws.onopen = function() {
            console.log("WebSocket connection open")
        }

        ws.onmessage = function (event) {
            console.log("WebSocket received from server...", event.data)
            const data = JSON.parse(event.data)
            document.querySelector("#chat-log").value += (data.message + "\n")
        }

        document.getElementById("chat-message-submit").onclick = function(event) {
            const messageInputDom = document.getElementById("chat-message-input")
            const message = messageInputDom.value
            ws.send(JSON.stringify({
                "msg": message
            }))
            messageInputDom.value = ""
        }

    </script>
</body>

</html>